Repository football-it-league-dnipro/football-it-dp-ua, pull requests merged in 2019-09, with the labels that each got.

#1 regulations: noticket - Update professional limits
  documents-and-regulations/competition-regulations.md
Labels: doc, regulations

#2 Registration: Lanars
  applications/lanars/lanars.md
  players/berezovskyi.oleksandr.19870503.jpg
  players/bilous.pavlo.19850306.jpg
  players/fedorynenko.danylo.19900724.jpg
  players/kopanenko.evgen.19900402.jpg
  players/kovtun.vladyslav.19920908.jpg
  players/maluchenko.taras.19920509.jpg
  players/nesynov.oleksandr.19870322.jpg
  players/podolian.oleksii.19950412.jpg
  players/prykhodchenko.oleksandr.19910329.jpg
  players/readme.md
  players/riznyk.vladyslav.19951028.jpg
  players/savvin.vitaliy19910620.jpg
  players/sokol.vitaliy.19950125.jpg
  players/vizhan.oleksii.19861215.jpg
Labels: application

#4 Registration: Gloria FX
  applications/gloria.fx/squad.md
  players/_rebrov.sergey.19810412.jpg
  players/beliznoy.andrei.19950604.jpg
  players/bohovenko.oleh.19891111.jpg
  players/bunich.stanislav.19931022.jpg
  players/dauchyonas.denis.19850407.jpg
  players/dzihovskyi.andrij.19880324.jpg
  players/isachenko.ruslan.19881220.jpg
  players/kniaziev.denis.19890227.jpg
  players/kolisnichenko.aleksandr.19961124.jpg
  players/kravchenko.serhii.19820908.jpg
  players/orlov.aleksandr.19900406.jpg
  players/parhomenko.arseniy.19950622.jpg
  players/pariy.anton.19860525.jpg
Labels: application

#12 Registration: Ciklum
  applications/ciklum/squad.md
  players/bondarev.pavlo.19870507.jpg
  players/bril.sergii.19870227.jpg
  players/drobot.sergii.19930630.jpg
  players/gabisov.oleksandr.19920405.jpg
  players/kipra.oleksii.19910420.jpg
  players/krol.yurii.19890101.jpg
  players/kuzyakin.oleksii.19900714.jpg
  players/matveev.oleksandr.19901206.jpg
  players/narizhnyi.dmytro.19940703.jpg
  players/nevkypilyi.dmytro.19890821.jpg
  players/rud.bohdan.19890723.jpg
  players/shynkarenko.denys.19840902.jpg
  players/siryi.vitalii.19960119.jpg
  players/voitenko.andrii.19940326.jpg
  players/vonsarovskii.sergii.19871001.jpg
Labels: application

#24 Updated regulations doc
  documents-and-regulations/competition-regulations.md
Labels: doc, enhancement, regulations

#25 Noticket: Additional conditions and attachments to the regulations
  README.md
  documents-and-regulations/championship-conditions.md
  documents-and-regulations/competition-regulations.md
  documents-and-regulations/golden-match-conditions.md
  documents-and-regulations/legionary-expenses-attachment.md
  documents-and-regulations/second-league-conditions.md
Labels: doc, enhancement, regulations

#15 Registration: AMC Bridge
  applications/amc.bridge/players/anisimov.volodymyr.19700429.jpg
  applications/amc.bridge/players/antonenko.oleksii.19850106.jpg
  applications/amc.bridge/players/hromakov.volodymyr.19940728.jpg
  applications/amc.bridge/players/izhevskyi.yevhen.19800321.jpg
  applications/amc.bridge/players/korablov.anatolii.19860927.jpg
  applications/amc.bridge/players/kovalenko.oleh.19900726.jpg
  applications/amc.bridge/players/lapshov.andrii.19811118.jpg
  applications/amc.bridge/players/moskalenko.oleh.19780925.jpg
  applications/amc.bridge/players/oropai.vitalii.19890919.jpg
  applications/amc.bridge/players/popov.illia.19970707.jpg
  applications/amc.bridge/players/retiunin.oleksii.19880619.jpg
  applications/amc.bridge/players/romanchenko.roman.19860508.jpg
  applications/amc.bridge/players/syniakov.oleksandr.19870311.jpg
  applications/amc.bridge/players/tuz.denis.19891227.jpg
  applications/amc.bridge/players/vovkodav.oleh.19890107.jpg
  applications/amc.bridge/squad.md
Labels: application

#6 Registration: Ardas Group Inc.
  applications/ardas.group.inc/squad.md
  players/bolonskiy.oleksiy.19860522.jpg
  players/borysov.igor.19950605.jpg
  players/cherniak.mykola.19941018.jpg
  players/gaytsuk.edgar.19880815.jpg
  players/gorianets.volodymyr.19900620.jpg
  players/ivanov.oleksandr.19970509.jpg
  players/karmalita.yaroslav.19951216.jpg
  players/kuprianenko.volodymyr.19910312.jpg
  players/lupyr.artem.19871504.jpg
  players/matuishenko.andrii.19980702.jpg
  players/moiseenkov.vladislav.19970514.JPG
  players/orekhovskiy.stanislav.19890501.jpg
  players/osaula.yevhen.19930726.jpg
  players/retiznik.igor.19920120.jpg
  players/vorontsov.vladislav.19841204.jpg
  players/vovchenko.oleksiy.19910716.jpg
  players/zharko.roman.19870119.jpg
Labels: application

#10 Registration: ISD
  applications/ISD/squad.md
  players/bulhakov.ivan.19880803.jpg
  players/denysov.oleksandr.19920608.jpg
  players/donich.ievgen.19830903.jpg
  players/gashok.kyrylo.19900605.jpg
  players/karpovskyi.dmytro.19951003.jpg
  players/klochko.kostiantyn.19901123.jpg
  players/kornilov.artem.19910124.jpg
  players/kosheliuk.kostiantyn.19901001.jpg
  players/loian.maksym.19970708.jpg
  players/lukash.roman.19900804.jpg
  players/tymofieiev.oleksii.19880321.jpg
  players/zavarynskyi.oleksanr.19830629.jpg
  players/zolotarenko.mykhailo.19880229.jpg
Labels: application

#17 Registration: SoftServe-2
  applications/SoftServe.2/squad.md
  players/halias.iurii.19890802.jpg
  players/ivliiev.andrii.19910227.jpg
  players/karpenko.denys.19960610.jpg
  players/kolisnyk.mykola.19920615.jpg
  players/lozovskyi.artur.19981030.jpg
  players/lysenko.mykola.19930824.jpg
  players/mykhailov.stepan.19891102.jpg
  players/novoselov.serhii.19851102.jpg
  players/petrychenko.sergii.19900115.jpg
  players/suhomlunov.suhomlunov.19901022.JPG
  players/tretiak.oleksandr.19911130.jpg
  players/unitskyi.mykhailo.19900515.jpg
  players/yermakov.ivan.19861205.jpg
  players/zlobin.oleksii.19910506.jpg
Labels: application

#20 Registration: Agilie
  applications/agilie/squad.md
  players/avilov.sergii.19900620.jpg
  players/gotsko.stanislav.19930528.jpg
  players/hladun.sergii.19840327.jpg
  players/horb.pavlo.19940727.jpg
  players/klymenko.oleksandr.19940223.jpg
  players/kobzarev.oleksandr.19830411.jpg
  players/kolomoets.oleksandr.19950722.jpg
  players/kosinov.yehor.19900818.jpg
  players/kovalenko.yevhen.19870519.jpg
  players/larko.oleksandr.19870809.jpg
Labels: application

#11 Registration: KeyUA
  applications/keyua/squad.md
  players/bogdanov.andriy.19850203.jpg
  players/dmitruk.dmitro.19960723.jpg
  players/dubina.nikita.19980114.jpg
  players/kornienko.leonid.19910124.jpg
  players/krasavin.artem.19960411.jpg
  players/pogodin.evgenii.19960826.JPG
  players/shok.sergiy.19891129.jpg
  players/trocenko.dmitro.19830201.jpg
  players/zakabluka.anatolii.19930811.jpg
  players/zeleniy.anton.19830518.jpg
Labels: application

#13 Registration: Реактор
  applications/reactor/reactor.md
  players/chausov.artur.19950114.jpg
  players/kuranov.oleksii.19871216.jpg
  players/kurbatov.oleh.19910814.jpg
  players/levchuk.artem.19880704.jpg
  players/pavlushonok.roman.19890527.jpg
  players/shepilov.yaroslav.19951019.jpg
  players/shokalo.roman.19900621.jpg
  players/slobodian.dmytro.19880607.jpg
  players/stasiuk.serhii.19940719.jpg
  players/stepanenko.andrii.19840621.jpg
  players/tashchi_viktor.19950821.jpg
  players/yevdokymov.mykhailo.19940731.jpg
Labels: application

#28 Registration: Noosphere
  applications/noosphere/noosphere.md
  players/bevziuk.mykhailo.19900111.JPEG
  players/chernenko.roman.19950307.jpg
  players/dimitraki.andrii.19920302.jpg
  players/dudnikov.sergii.19930607.jpg
  players/gorobets.sergii.19900921.jpg
  players/korostiuk.kirillo.19940510.jpg
  players/krotov.anton.19840530.jpg
  players/kushnir.oleksandr.19800709.jpg
  players/mikitenko.artem.19870701.jpg
  players/moisieiev.yurii.19870401.jpg
  players/nikolin.serhii.19940223.jpg
  players/pikul.andrii.19900414.jpg
  players/poltavets.yaroslav.19871218.jpg
  players/safonov.leonid.19980625.jpg
  players/studenov.oleg.19931013.jpg
Labels: application

#30 Registration: DataArt
  applications/dataart/squad.md
  players/belkin.dmytro.19890507.jpg
  players/chadovych.dmytro.19910622.jpg
  players/fedorynenko.danylo.19900724.jpg
  players/hordiichuk.yevhen.19901011.jpg
  players/kirianov.vitalii.19910906.JPG
  players/larin.mykyta.19930519.JPG
  players/miroshnichenko.oleksii.19810501.jpg
  players/mishchenko.kyrylo.19921207.jpg
  players/rudenko.bohdan.19901206.jpg
  players/shustov.andrii.19850706.jpg
  players/tkalenko.oleksandr.19841117.jpg
  players/troian.dmytro.19870210.jpg
  players/tykhonov.anton.19890210.jpg
Labels: application

#27 Registration: Go Wombat Team
  applications/go.wombat.team/squad.md
  players/demchuk.denys.19930328.jpg
  players/gaiduk.yevgen.19910918.jpg
  players/gryn.viktor.19930802.jpg
  players/kostandov.volodymyr.19880710.jpg
  players/kozakov.denys.19920824.jpg
  players/kysil.roman.19970623.jpg
  players/martynenko.oleksandr.19891130.jpg
  players/mutel.serhii.19891015.jpg
  players/palii.vadym.19980112.jpg
  players/sokolov.andriy.19881027.jpg
  players/sokolovskii.volodymyr.19880430.jpg
  players/sus.dmytro.19930122.jpg
  players/vorotylo.mykola.19921214.jpg
Labels: application

#29 Registration: Playtika
  applications/playtika/playtika.md
  players/basyuk.artem.19911105.jpg
  players/baybarak.dmytro.19810501.jpg
  players/bitkin.yevgeniy.19930602.jpg
  players/kogut.yaroslav.19921013.jpg
  players/kopach.roman.19890622.jpg
  players/kovalenko.ivan.19930602.jpg
  players/lavryk.volodymyr.19880517.jpg
  players/lytvyn.sergiy.19881114.jpg
  players/mokhov.artem.19870710.jpg
  players/nastoburko.pavlo.19920601.jpg
  players/neveselyy.andrii.19921206.jpg
  players/sonin.ivan.19890829.jpg
  players/tsurykov.dmytro.19850309.jpg
  players/volosok.sergiy.19850923.jpg
Labels: application

#23 Registration: Yalantis
  applications/yalantis/squad.md
  players/beznosov.mykyta.19911030.jpg
  players/chernysh.vitaliy.19970520.jpg
  players/fesenko.sergiy.19801109.jpg
  players/kozyrev.stanislav.19900808.jpg
  players/kryzhanovkyi.anton.19870220.jpg
  players/lynnik.vladislav.19931202.jpg
  players/lytvyn.anton.19910403.jpg
  players/lytvynchuk.aleksandr.19960104.jpg
  players/martyuk.roman.19900426.jpg
  players/prybylskiy.kyrylo.19980729.jpg
  players/reshetnyak.kostiantin.19870617.jpg
  players/rodnoy.mykhailo.19910111.jpg
  players/rvachov.igor.19910901.jpg
  players/sheremet.valerii.19921214.jpg
  players/suprun.mykola.19891221.jpg
  players/vyshynskiy.mykhailo.19860512.jpg
Labels: application

#19 Registration: SoftServe
  applications/softserve/squad.md
  players/bashlaev.yurii.19830902.jpg
  players/bovdui.borys.19820523.jpg
  players/churyumov.andrii.19920306.jpg
  players/filippenko.yevgen.19900616.jpg
  players/gasanov.ali.19960618.jpg
  players/gavriluk.oleksii.19850608.jpg
  players/grudev.pavlo.19840831.jpg
  players/ivanenko.andriy.19900415.jpg
  players/kulakov.oleksandr.19880711.jpg
  players/miroshnik.sergiy.19790430.jpg
  players/ostapenko.mykyta.19940423.jpg
  players/pavlenko.igor.19950520.jpg
  players/pavlov.mykyta.19931026.jpg
  players/salo.mikhailo.19900401.jpg
  players/sotnikov.vitalii.19870222.jpg
  players/yakub.igor.19890908.jpg
  players/ziborov.maksim.19940528.jpg
Labels: application
